@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?familyKlee+One&display=swap');

@import '@fontsource/atkinson-hyperlegible';
@import '@fontsource/fira-code';

.delius-regular {
  font-family: "Delius", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  /* Font */
  --font-system-ui: 'Delius', sans-serif; 
  --font-monospace-code: 'Fira Code', monospace;
  --font-sans: 'Klee One', cursive;

  /* dark */
  --brand-dark: var(--orange-2);

  --text-1-dark: var(--gray-2);
  --text-2-dark: var(--gray-5);

  --surface-1-dark: var(--gray-9);
  --surface-2-dark: var(--gray-8);
  --surface-3-dark: var(--gray-7);
  --surface-2-dark: var(--gray-6);

  --background-dark: var(--gray-9);
  --border-dark: var(--stone-8);

  /* light */
  --brand-light: var(--orange-9);

  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-6);

  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-2-light: var(--gray-3);

  --background-light: var(--brown-0);
  --border-light: var(--gray-4);
}

.jp {
  font-family: 'Klee One', sans-serif;
}

:root {
  color-scheme: dark;

  --brand: var(--brand-dark);

  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);

  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);

  --background: var(--background-dark);
  --border: var(--border-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --brand: var(--brand-light);

    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);

    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);

    --background: var(--background-light);
    --border: var(--border-light);
  }
}

[color-scheme="dark"] {
  color-scheme: dark;

  --brand: var(--brand-dark);

  --text-1: var(--text-1-dark);
  --text-2: var(--text-2-dark);

  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --surface-3: var(--surface-3-dark);
  --surface-4: var(--surface-4-dark);

  --background: var(--background-dark);
  --border: var(--border-dark);
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);

  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);

  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);

  --background: var(--background-light);
  --border: var(--border-light);
}

html,
body {
  height: 100%;
}

html {
  color: var(--text-1);
  accent-color: var(--link);
  background-image: var(--background);
  background: var(--background);
  background-attachment: fixed;
}

main {
  max-inline-size: 45rem;
  margin-inline: auto;
}

img {
  border-radius: var(--radius-2);
  max-inline-size: 100%;
}

li {
  padding-inline-start: 0;
}

h1 {
  margin-block: var(--size-6);
}

h2 {
  margin-block: var(--size-5);
}

h3 {
  margin-block: var(--size-4);
}

h4 {
  margin-block: var(--size-3);
}

h5 {
  margin-block: var(--size-3);
}

h6 {
  margin-block: var(--size-3);
}

p {
  margin-block: var(--size-3);
}

:is(p, h1, h2, h3, h4, h5, h6) :is(b, strong, it) {
  color: var(--brand);
}

code {
  font-size: var(--font-size-1);
}

.surface-1 {
  background-color: var(--surface-1);
  color: var(--text-2);
}

.surface-2 {
  background-color: var(--surface-2);
  color: var(--text-2);
}
.surface-3 {
  background-color: var(--surface-3);
  color: var(--text-1);
}
.surface-4 {
  background-color: var(--surface-4);
  color: var(--text-1);
}

.prose {
  max-inline-size: 100%;
}

.prose :is(h2, h3, h4, h5, h6) {
  margin-top: var(--size-8);
  margin-bottom: var(--size-3);
}

.prose p > code {
  display: inline-block;
  max-inline-size: 100%;
  white-space: normal;
  overflow-wrap: break-word;
}

.prose :is(ul, ol) {
  list-style: disc;
  margin-left: var(--size-3);
  padding-left: var(--size-5);
}

.prose :is(ul, ol) li {
  margin-block: var(--size-2);
  padding-inline-start: var(--size-2);
}

.prose pre {
  margin-block: var(--size-3);
  padding: 1rem;
  border-radius: 8px;
  tab-size: 2;
  overflow: auto;
}

